html{
    height: 100%;
}

.bg-cinza{
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(34,35,36,1) 100%);
    background-size: cover;
}

.fc-branca{
    color: white;
}